<div [ngStyle]="{'background':'yellow','margin-top':'100px','margin-bottom':'100px','padding':'10px'}">
   <h1>Parent Component</h1>


<app-child (events)="receiveMessage($event)" [data]="'message from parent component'"></app-child>
{{receivedmessage}}     
</div>