<button routerLink="/rforms"><h3>rforms component is used to go to reactive forms</h3></button><br>
<button routerLink="/comp1"><h3>comp1 component is used to do sibling interaction with observable emit,on and subscribe rxjs between component1 and component2 and ngClass and ngStyle and in component2 ngOndestroy Implemented</h3></button><br>
<button routerLink="/ifelse"><h3>ifelse component is used to help how to write if,elseif,else conditions</h3></button><br>
<button routerLink="/gettingpics"><h3>gettingpics component is used to get the pics from the serve with ngIf and ngFor conditions</h3></button><br>
<button routerLink="/parent"><h3>parent component is used to do parent-child and child-parent interaction with @Input and @Output</h3></button><br>
<router-outlet></router-outlet>